table,
td {
  border: 1px solid black;
  background-color: rgb(17, 201, 247);
}
thead{
    background-color: darkslategray;
    color: aliceblue;
}


img{
  height: 500px;
  width: 500px;
}

h1{
  color: red;
}
